{% extends "base_edit.html" %}
{% load bootstrap3 %}
{% load static %}
{% load main_tags %}

{% block extra-head %}
<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" media="screen" rel="stylesheet">
{% endblock %}

{% block extra-js%}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">

  $('.input-group.date').datetimepicker({"format": "YYYY-MM-DD HH:mm"});
  
  $('#id_create_from').change(function() {
    var url = "{% url 'url_add_campaign' %}";
    if ($(this).val()=="2"){      
      document.location = url+"?template=0";
    }else if ($(this).val()=="1"){
      document.location = url+"?blank=0";
    }else{
      document.location = url;
    }
  });
  
  $('#id_choose_template').change(function() {
    var url = "{% url 'url_add_campaign' %}";          
    document.location = url+"?template="+$(this).val();    
  });
  
</script>
{% endblock %}