{% extends "base_edit.html" %}
{% load bootstrap3 %}
{% load static %}
{% load main_tags %}


{% block extra-js%}

{% if id_exp %}

<script type="text/javascript">

  $("#id_device").change(function() {
    var url = "{% url 'url_add_dev_conf' id_exp  %}";
    document.location = url+ $(this).val() + "/?name=" + $("#id_name").val();
  });

  $('#id_create_from').change(function() {
    var url = "{% url 'url_add_dev_conf' id_exp %}";
    if ($(this).val()=="2"){
      document.location = url+"?template=0";
    }else if ($(this).val()=="1"){
      document.location = url+"?blank=0";
    }else{
      document.location = url;
    }
  });

  $('#id_choose_template').change(function() {
    var url = "{% url 'url_add_dev_conf' id_exp %}";
    document.location = url+"?template="+$(this).val();
  });

</script>

{% endif %}

{% if device == 'dds' %}
<script src="{% static 'js/dds_conversion.js' %}"></script>
<script type="text/javascript">

    $("#id_clock").on('change', function() {
    	updateFrequencies();
    });

    $("#id_multiplier").on('change', function() {
    	updateFrequencies();
    });

    $("#id_frequencyA_Mhz").on('change', function() {
    	updateBinaryFrequencies();
    });

    $("#id_frequencyA").on('change', function() {
    	updateFrequencies();
    });

    $("#id_frequencyB_Mhz").on('change', function() {
    	updateBinaryFrequencies();
    });

    $("#id_frequencyB").on('change', function() {
    	updateFrequencies();
    });

    function updateBinaryFrequencies() {

    	var clock = $("#id_clock").val();
    	var multiplier = $("#id_multiplier").val();
    	var freq = $("#id_frequencyA_Mhz").val();
    	var freq_mod = $("#id_frequencyB_Mhz").val();

    	var mclock = clock*multiplier;

    	var freq_bin = freq2Binary(mclock, freq);
    	var freq_mod_bin = freq2Binary(mclock, freq_mod);

    	$("#id_frequencyA").val(freq_bin);
    	$("#id_frequencyB").val(freq_mod_bin);

    	freq = binary2Freq(mclock, freq_bin);
    	freq_mod = binary2Freq(mclock, freq_mod_bin);

    	$("#id_frequencyA_Mhz").val(freq);
    	$("#id_frequencyB_Mhz").val(freq_mod);

    }

    function updateFrequencies() {

    	var clock = $("#id_clock").val();
    	var multiplier = $("#id_multiplier").val();
    	var freq_bin = $("#id_frequencyA").val();
    	var freq_mod_bin = $("#id_frequencyB").val();

    	var mclock = clock*multiplier;

    	var freq = binary2Freq(mclock, freq_bin);
    	var freq_mod = binary2Freq(mclock, freq_mod_bin);

    	$("#id_frequencyA_Mhz").val(freq);
    	$("#id_frequencyB_Mhz").val(freq_mod);

    }

</script>
{% endif %}

{% if device == 'rc' %}
<script src="{% static 'js/cr.js' %}"></script>
{% endif %}

{% if device == 'jars' %}
<script src="{% static 'js/jars.js' %}"></script>
{% endif %}

{% if device == 'abs' %}
<script src="{% static 'js/abs.js' %}"></script>
{% endif %}

{% endblock %}
