{% extends "dev_conf.html" %}
{% load static %}
{% load bootstrap3 %}
{% load main_tags %}

{% block extra-menu-actions %}
<li><a href="{{ dev_conf.get_absolute_url_log }}"><span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
        Get Log File</a></li>
{% endblock %}

{% block extra-content %}

<div class="clearfix"></div>
<h2>Filter: {{resolution}}</h2>
<br>
<table class="table table-bordered">
    {% for key in filter_keys %}
    <tr>
        <th>{% get_verbose_field_name filter_obj key %}</th>
        <td>{{filter|attr:key}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock extra-content%}