{% extends "base.html" %}
{% load bootstrap3 %}
{% block mainactive %}active{% endblock %}

{% block content-title %}Acquisition System{% endblock %}
{% block content-suptitle %}JARS{% endblock %}

{% block content %}
<form class="form" method="post" action="">
{% csrf_token %}
{% bootstrap_form form layout='horizontal' size='medium' %}
<div style="clear: both;"></div>
<br>
<button type="submit" class="btn btn-primary pull-right" id="bt_update">Update</button>
</form>
{% endblock %}

{% block sidebar%}
{% include "sidebar_devices.html" %}
{% endblock %}
