{% extends "dev_conf.html" %}
{% load static %}
{% load bootstrap3 %}
{% load main_tags %}

{% block extra-menu-actions %}
<li><a href="{{ dev_conf.get_absolute_url_plot }}" target="_blank"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> View Pulses </a></li>
{% endblock %}

{% block extra-content %}

<div class="clearfix"></div>
<h2>RC Lines</h2>
<br>
<div class="panel-group" id="div_lines" role="tablist" aria-multiselectable="true">
{% include "rc_lines.html" %}
</div>

{% endblock extra-content%}

{% block extra-js%}
<script type="text/javascript">
  $("#bt_toggle").click(function() {
    $(".panel-collapse").collapse('toggle')    
  });
</script>
{% endblock %}