{% extends "dev_conf.html" %}
{% load static %}
{% load bootstrap3 %}
{% load main_tags %}

{% block content %}

{% if abs_beams %}
  <div>
    <h4>Beams:</h4>

    <div class="container">
      <div class="btn-group">
        {% for abs_beam in abs_beams %}
          <button id="bt_beam{{ forloop.counter }}" type="button"  class="btn btn-default">{{ forloop.counter }}</button>
        {% endfor %}
      </div>
    </div>


  </div>
  <br>

  {% if beam %}
    {% include "abs_pattern.html" %}
  {% endif %}

{% else %}
  <div>
    <h4>Beams:</h4>
    <p style="color:#b4bcc2; margin-left: 5%;"><i>No Beams...</i></p>
  </div>
{% endif %}


<script>
{% for abs_beam in abs_beams %}
  $("#bt_beam{{ forloop.counter }}").click(function() {
    document.location = "{% url 'url_plot_abs_patterns' abs_beam.abs_conf.id abs_beam.id %}";
  });
{% endfor %}
//function ChangeColor() {
//    document.getElementById("button_1").style.backgroundColor = "#2c3e50";
//    document.getElementById("button_1").style.color = "#ecf0f1";
//}
</script>

{% endblock %}
